#background {
    position:fixed;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a4/Mandel_zoom_11_satellite_double_spiral.jpg");
    width:100%;
    height:100%;
    opacity:0.2;
    top:0;
    left:0;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:100%;
    z-index:-1;
}

h1 {
    color: blue;
}

.intro {
    font-family: times-new-roman;
    font-size: 14pt;
    color: red;
    width: 50%;
}

.circle {
    stroke:red;
    stroke-width:3;
    fill:yellow;
}
